DJANGO_SECRET_KEY=
DJANGO_DEBUG=True

POSTGRES_DB=sokoos
POSTGRES_USER=sokoos
POSTGRES_PASSWORD=
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432

ZOHO_SMTP_HOST=smtp.zoho.com
ZOHO_SMTP_PORT=587
ZOHO_SMTP_USE_TLS=true
ZOHO_SMTP_USER=
ZOHO_SMTP_PASSWORD=
DEFAULT_FROM_EMAIL=
FRONTEND_BASE_URL=http://localhost:8080
